<div class="wrap">
  <h1>component one</h1>
  <div class="opt">A選項</div>
    <div class="item" (click)="choose('A', '1')">1</div>
    <div class="item" (click)="choose('A', '2')">2</div>
    <div class="item" (click)="choose('A', '3')">3</div>
  <!-- <div class="opt" (click)="choose('B')">B選項</div>
    <div class="item" (click)="choose('B', '4')">4</div>
    <div class="item" (click)="choose('B', '5')">5</div>
    <div class="item" (click)="choose('B', '6')">6</div>
  <div class="opt" (click)="choose('C')">C選項</div>
    <div class="item" (click)="choose('C', '7')">7</div>
    <div class="item" (click)="choose('C', '8')">8</div>
    <div class="item" (click)="choose('C', '9')">9</div> -->
</div>
